<section class="container">
	<table class="table table-hover">
		<thead>
			<th>Código de Empleado</th>
			<th>Nombre</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</thead>
		<tbody>
			{inicioFila}
			<tr>
				<td>{codigoEmpleado}</td>
				<td><a href="index.php?ctrl=empleado&accion=consultar&codigo={codigoEmpleado}">{nombreEmpleado}</a></td>
				<td><a href="index.php?ctrl=empleado&accion=consultar&codigo={codigoEmpleado}">Consultar</a></td>
				<td><a href="index.php?ctrl=empleado&accion=modificar&codigo={codigoEmpleado}">Modificar</a></td>
				<td><a href="index.php?ctrl=empleado&accion=eliminar&codigo={codigoEmpleado}">Eliminar</a></td>
			</tr>
			{finFila}
		</tbody>
	</table>
</section>