<section class="container main">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Iniciar Sesión</div>
                <div class="panel-body">
                    <form class="form-signin" role="form" method="POST" action="index.php?ctrl=login&accion=iniciarSesion">
                        <h2 class="form-signin-heading">Favor de introducir sus datos:</h2>
                        <label for="usuario" class="sr-only">Usuario</label>
                        <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuario" required autofocus>
                        <br/>
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                        <br/>
                        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit" name="submit">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Regístrate</div>
                <div class="panel-body">
                    <form class="form-signin" role="form" method="POST" action="index.php?ctrl=login&accion=signin">
                        <h2 class="form-signin-heading">Capturar los datos:</h2>

                        <label for="codigoEmpleado" class="sr-only">Código de empleado</label>
                        <input type="number" id="codigoEmpleado" name="codigoEmpleado" class="form-control" placeholder="Código de empleado" required autofocus>
                        <br/>

                        <label for="usuario" class="sr-only">Usuario</label>
                        <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuario" required>
                        <br/>

                        <label for="password" class="sr-only">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                        <br/>

                        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit" name="submit">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>