<section class="container main">
	<a href="index.php?ctrl=index.php" class="btn btn-default pull-left">Regresar</a>
	<a href="index.php?ctrl=marca&accion=insertar" class="btn btn-default pull-right">Nueva Marca</a>
	<table class="table table-hover">
		<thead>
			<th>Nombre</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</thead>
		<tbody>
			{inicioFila}
			<tr>
				<td>{nombreMarca}</td>
				<td><a href="index.php?ctrl=marca&idMarca={idMarca}&nombre={nombreMarca}&accion=consultar&marca={idMarca}">Consultar</a></td>
				<td><a href="index.php?ctrl=marca&nombre={nombreMarca}&accion=modificar&marca={idMarca}">Modificar</a></td>
				<td><a href="index.php?ctrl=marca&accion=eliminar&marca={idMarca}">Eliminar</a></td>
			</tr>
			{finFila}
		</tbody>
	</table>
</section>