<section class="container">
	<form role="form" class="form" method="POST" action="index.php?ctrl=marca&accion=insertar">
		<a href="index.php?ctrl=marca&accion=listar" class="btn btn-default pull-left">Regresar</a>
		<button type="submit" class="btn btn-default pull-right">Aceptar</button>
		<br/><br/>
		<div class="panel panel-default">
			<div class="panel-heading">Datos de la marca</div>
			<div class="panel-body">
				<div class="form-group col-sm-12">
					<label for="marca">Nombre</label>
					<input type="text" class="form-control" id="marca" name="marca" placeholder="Nombre de la marca" required/>
				</div>
			</div>
		</div>
	</form>
</section>