<section class="container main">
	
	<a href="index.php?ctrl=vehiculo&accion=listar" class="btn btn-default pull-right">Regresar</a>
	<br/><br/>
	<div class="panel panel-default">
		<div class="panel-heading">Datos del vehículo</div>
		<div class="panel-body">
			<div class="form-group col-sm-6">
				<label for="vin">VIN</label>
				<input type="text" class="form-control" id="vin" name="vin" placeholder="VIN" readonly maxlength="16" value="{VIN}"/>
			</div>

			<div class="form-group col-sm-6">
				<label for="transmision">Transmisión</label>
				<input type="text" class="form-control" id="transmision" name="transmision" placeholder="Transmisión" readonly value="{transmision}"/>
			</div>
			<div class="form-group col-sm-6">
				<label for="marca">Marca</label>
				<input type="text" class="form-control" id="marca" name="marca" placeholder="Marca" readonly value="{marca}"/>
			</div>
			<div class="form-group col-sm-6">
				<label for="modelo">Modelo</label>
				<input type="text" class="form-control" id="modelo" name="modelo" placeholder="Modelo" readonly value="{modelo}"/>
			</div>
			<div class="form-group col-sm-6">
				<label for="color">Color</label>
				<input type="text" class="form-control" id="color" name="color" placeholder="Color" readonly value="{Color}"/>
			</div>
			<div class="form-group col-sm-6">
				<label for="cilindraje">Cilindraje</label>
				<input type="text" class="form-control" id="cilindraje" name="cilindraje" placeholder="cilindraje" readonly value="{cilindraje}"/>
			</div>
			<div class="form-group col-sm-6">
				<label for="numeroPuertas">Número de puertas</label>
				<input type="text" class="form-control" id="numeroPuertas" name="numeroPuertas" placeholder="numeroPuertas" readonly value="{numeroPuertas}"/>
			</div>
		</div>
	</div>

	<br/>
		<div>
			<button type="button" class="btn btn-primary pull-right" id="btnCambiarArea">Cambiar de área</button>
			
			<br><br>
			<div class="panel panel-default" id="panelCambiarArea">
				<div class="panel-heading">Selecciona el área a la que se moverá:</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="area" class="col-xs-1 col-sm-1 col-md-1">Área</label>
						<div class="col-xm-3 col-md-3 col-xs-11">
							<select class="form-control" id="area" name="area">
								<option value="0" selected>Seleccione</option>
								<option value="A">A</option>
								<option value="B">B</option>
							</select>
						</div>
						<label for="seccionUbicacion" class="col-xs-1 col-sm-1 col-md-1">Sección</label>
						<div class="col-sm-3 col-md-3 col-xs-11">
							<select class="form-control" id="seccionUbicacion" name="seccionUbicacion">
								<option value="" selected></option>
							</select>
						</div>
						<label for="numeroUbicacion" class="col-xs-1 col-sm-1 col-md-1">Número</label>
						<div class="col-sm-2 col-md-2 col-xs-11">
							<select class="form-control" id="numeroUbicacion" name="numeroUbicacion">
								<option value="" selected></option>
							</select>
						</div>
						<div class="col-xs-12 col-sm-1 col-md-1">
							<button type="button" class="btn btn-default" id="aceptarAsignacion">Cambiar</button>
							
						</div>
					</div>
				</div>
			</div>
		</div>
</section>