<section class="container main">
	<form role="form" class="form" method="POST" action="index.php?ctrl=vehiculo&accion=insertar">
		<button type="submit" class="btn btn-primary pull-right">Aceptar</button>
		<br/><br/>
		<div class="panel panel-default">
			<div class="panel-heading">Datos del vehículo</div>
			<div class="panel-body">
				<div class="form-group col-sm-6">
					<label for="vin">VIN</label>
					<input type="text" class="form-control" id="vin" name="vin" placeholder="VIN" required maxlength="16" min="16"/>
				</div>

				<div class="form-group col-sm-6">
					<label for="transmision">Transmisión</label>
					<select class="form-control" id="transmision" name="transmision">
							<option value="MANUAL">MANUAL</option>
							<option value="AUTOMATICO">AUTOMATICO</option>
					</select>
				</div>
				<div class="form-group col-sm-6">
					<label for="marca">Marca</label>
					<select class="form-control" id="marca" name="marca">
						{marcas}
					</select>
				</div>
				<div class="form-group col-sm-6">
					<label for="modelo">Modelo</label>
					<select class="form-control" id="idModelo" name="idModelo">
						{modelos}
					</select>
				</div>

				<div class="form-group col-sm-6">
					<label for="anho">Año del vehículo:</label>
					<input type="number" class="form-control" id="anho" name="anho" placeholder="Año del vehículo" min="0" max="2050" required/>
				</div>

				<div class="form-group col-sm-6">
					<label for="color">Color</label>
					<select class="form-control" id="color" name="color">
						<option value="NEGRO">NEGRO</option>
						<option value="BLANCO">BLANCO</option>
						<option value="ROJO">ROJO</option>
						<option value="VERDE">VERDE</option>
						<option value="AZUL OBSCURO">AZUL OBSCURO</option>
						<option value="AMARILLO">AMARILLO</option>
						<option value="NARANJA">NARANJA</option>
						<option value="AZUL CLARO">AZUL CLARO</option>
						<option value="CAFE">CAFE</option>
					</select>
				</div>
				<div class="form-group col-sm-6">
					<label for="cilindraje">Cilindraje</label>
					<select class="form-control" id="cilindraje" name="cilindraje">
						<option value="4">4</option>
						<option value="6">6</option>
						<option value="8">8</option>
					</select>
				</div>
				<div class="form-group col-sm-6">
					<label for="numeroPuertas">Número de puertas</label>
					<select class="form-control" id="numeroPuertas" name="numeroPuertas">
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
					</select>
				</div>

				<div class="form-group col-sm-6">
					<label for="idCliente">Número de cliente</label>
					<input type="text" class="form-control" name="idCliente" id="idCliente" required placeholder="Número del cliente"/>
				</div>

				<div class="form-group col-sm-6">
					<label for="nombreCliente">Nombre del cliente</label>
					<input type="text" class="form-control" name="nombreCliente" id="nombreCliente" required placeholder="Nombre del cliente" readonly/>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">Inventario del vehículo</div>
			<div class="panel-body">
				<div class="form-group col-xl-12 col-sm-12 col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">Interior</div>
						<div class="panel-body">

							<div class="form-group col-xs-12 col-sm-3 col-md-3">
								<label for="placaNumero">Placas:</label>
								<input type="text" maxlength="20" class="form-control" name="placaNumero" id="placaNumero"required>
							</div>

							<div class="form-group col-xs-12 col-sm-3 col-md-3">
								<label for="kilometraje">Kilometraje:</label>
								<input type="numeric" min="0" max="1000000"class="form-control" name="kilometraje" id="kilometraje"/ required>
							</div>

							<div class="form-group col-xs-12 col-sm-3 col-md-3">
						        <label for="gasolinaCantidad">Gasolina(Tanque):</label>
						        <select class="form-control" name="gasolinaCantidad" id="gasolinaCantidad">
						        	<option value="1/8">1/8 de tanque</option>
						        	<option value="1/4">1/4 de tanque</option>
						        	<option value="3/8">3/8 de tanque</option>
						        	<option value="1/2">1/2 de tanque</option>
						        	<option value="5/8">5/8 de tanque</option>
						        	<option value="3/4">3/4 de tanque</option>
						        	<option value="7/8">7/8 de tanque</option>
						        	<option value="1">Tanque lleno</option>
						        </select>
						    </div>

					       	<div class="form-group col-xs-12 col-sm-3 col-md-3">
						        <label for="cantidadCinturones">Cant. cinturones</label>
						        <select class="form-control" name="cantidadCinturones" id="cantidadCinturones">
						        	<option value="0">0</option>
						        	<option value="1">1</option>
						        	<option value="2">2</option>
						        	<option value="3">3</option>
						        	<option value="4">4</option>
						        	<option value="5">5</option>
						        	<option value="6">6</option>
						        </select>
						    </div>

					    	<div class="form-group col-xs-12 col-sm-3 col-md-3">
								<label for="extintor">Extintor:</label>
								<input type="checkbox" id="extintor" name="extintor" class="checkboxSwitch" checked/>
							</div>

							<div class="form-group col-xs-12 col-sm-9 col-md-3">
								<label for="tableroDetalle">Detalles sobre el tablero:</label>
								<textarea class="form-control" name="tableroDetalle" id="tableroDetalle"></textarea>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="panel panel-default">
									<div class="panel-heading">Asientos</div>
									<div class="panel-body">
										
										<div class="form-group">
									        <label for="asientosCantidad">Cant. asientos:</label>
									        <select class="form-control" name="asientosCantidad" id="asientosCantidad">
									        	<option value="0">0</option>
									        	<option value="1">1</option>
									        	<option value="2">2</option>
									        	<option value="3">3</option>
									        	<option value="4">4</option>
									        	<option value="5">5</option>
									        	<option value="6"=>6</option>
									        	<option value="7">7</option>
									        	<option value="8">8</option>
									        	<option value="9">9</option>
									        	<option value="10">10</option>
									        	<option value="11">11</option>
									        	<option value="12">12</option>
									        	<option value="13">13</option>
									        	<option value="14">14</option>
									        	<option value="15">15</option>
									        </select>
									    </div>

									    <div class="form-group">
											<label for="asientosDetalle">Detalles sobre asientos:</label>
											<textarea class="form-control" name="asientosDetalle" id="asientosDetalle"></textarea>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="panel panel-default">
									<div class="panel-heading">Espejos retrovisores</div>
									<div class="panel-body">
										
									    <div class="form-group col-sm-4 col-md-4">
									        <label for="espejoIzquierdo" class="col-xs-6 col-sm-6 col-md-7">Retrovisor izquierdo</label>
											<input type="checkbox" id="espejoIzquierdo" name="espejoIzquierdo" class="checkboxSwitch" checked/>
									    </div>

									    <div class="form-group col-sm-4 col-md-4">
									        <label for="espejoRetrovisor" class="col-xs-6 col-sm-6 col-md-7">Retrovisor central</label>
											<input type="checkbox" id="espejoRetrovisor" name="espejoRetrovisor" class="checkboxSwitch" checked/>
									    </div>

									    <div class="form-group col-sm-4 col-md-4">
									        <label for="espejoDerecho" class="col-xs-6 col-sm-6 col-md-7">Retrovisor derecho</label>
											<input type="checkbox" id="espejoDerecho" name="espejoDerecho" class="checkboxSwitch" checked/>
									    </div>

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="form-group col-xl-12 col-sm-12 col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">Exterior</div>
						<div class="panel-body">

							<div class="form-group col-xl-12 col-sm-6 col-md-4">
								<div class="panel panel-default">
									<div class="panel-heading">Faros</div>
									<div class="panel-body">

								       	<div class="form-group">
									        <label for="faroDelanteroDerecho" class="col-xs-6 col-sm-6 col-md-7">Delantero derecho</label>
											<input type="checkbox" id="faroDelanteroDerecho" name="faroDelanteroDerecho" class="checkboxSwitch" checked/>
									    </div>

										<div class="form-group">
											<label for="faroDelanteroIzquierdo" class="col-xs-6 col-sm-6 col-md-7">Delantero izquierdo</label>
											<input type="checkbox" id="faroDelanteroIzquierdo" name="faroDelanteroIzquierdo" class="checkboxSwitch" checked/>
										</div>

										<div class="form-group">
											<label for="faroTraseroDerecho" class="col-xs-6 col-sm-6 col-md-7">Trasero derecho</label>
											<input type="checkbox" id="faroTraseroDerecho" name="faroTraseroDerecho" class="checkboxSwitch" checked/>
										</div>

										<div class="form-group">
											<label for="faroTraseroIzquierdo" class="col-xs-6 col-sm-6 col-md-7">Trasero izquierdo</label>
											<input type="checkbox" id="faroTraseroIzquierdo" name="faroTraseroIzquierdo" class="checkboxSwitch" checked/>
										</div>
										<div class="form-group">
											<label for="farosDetalle">Detalles sobre faros:</label>
											<textarea class="form-control" name="farosDetalle" id="farosDetalle"></textarea>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group col-xl-12 col-sm-6 col-md-4">
								<div class="panel panel-default">
									<div class="panel-heading">Direccionales</div>
									<div class="panel-body">

								       	<div class="form-group">
									        <label for="direccionalDelanteraDerecha" class="col-xs-6 col-sm-6 col-md-7">Delantero derecha</label>
											<input type="checkbox" id="direccionalDelanteraDerecha" name="direccionalDelanteraDerecha" class="checkboxSwitch" checked/>
									    </div>

										<div class="form-group">
											<label for="direccionalDelanteraIzquierda" class="col-xs-6 col-sm-6 col-md-7">Delantero izquierda</label>
											<input type="checkbox" id="direccionalDelanteraIzquierda" name="direccionalDelanteraIzquierda" class="checkboxSwitch"checked/>
										</div>

										<div class="form-group">
											<label for="direccionalTraseraDerecha" class="col-xs-6 col-sm-6 col-md-7">Trasera derecha</label>
											<input type="checkbox" id="direccionalTraseraDerecha" name="direccionalTraseraDerecha" class="checkboxSwitch" checked/>
										</div>

										<div class="form-group">
											<label for="direccionalTraseraIzquierda" class="col-xs-6 col-sm-6 col-md-7">Trasera izquierda</label>
											<input type="checkbox" id="direccionalTraseraIzquierda" name="direccionalTraseraIzquierda" class="checkboxSwitch" checked/>
										</div>
										<div class="form-group">
											<label for="direccionalDetalle">Detalles sobre faros:</label>
											<textarea class="form-control" name="direccionalDetalle" id="direccionalDetalle"></textarea>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group col-xl-12 col-sm-6 col-md-4">
								<div class="panel panel-default">
									<div class="panel-heading">Defensas</div>
									<div class="panel-body">

								       	<div class="form-group">
									        <label for="defensaDelantera" class="col-xs-6 col-sm-6 col-md-7">Delantera</label>
											<input type="checkbox" id="defensaDelantera" name="defensaDelantera" class="checkboxSwitch" checked/>
									    </div>

										<div class="form-group">
											<label for="defensaTrasera" class="col-xs-6 col-sm-6 col-md-7">Trasera</label>
											<input type="checkbox" id="defensaTrasera" name="defensaTrasera" class="checkboxSwitch"checked/>
										</div>

										<div class="form-group">
											<label for="defensaDetalle">Detalles sobre defensas:</label>
											<textarea class="form-control" name="defensaDetalle" id="defensaDetalle" rows="7" ></textarea>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group col-xl-12 col-sm-6 col-md-4">
								<div class="panel panel-default">
									<div class="panel-heading">Llantas</div>
									<div class="panel-body">

								       	<div class="form-group">
									        <label for="llantaRefaccion" class="col-xs-6 col-sm-6 col-md-7">Llanta de refacción</label>
											<input type="checkbox" id="llantaRefaccion" name="llantaRefaccion" class="checkboxSwitch" checked/>
									    </div>

										<div class="form-group">
											<label for="llantasDetalle">Detalles sobre llantas:</label>
											<textarea class="form-control" name="llantasDetalle" id="llantasDetalle" rows="7"></textarea>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group col-xl-12 col-sm-12 col-md-4">
								<div class="panel panel-default">
									<div class="panel-heading">Parabrisas</div>
									<div class="panel-body">

								       	<div class="form-group">
									        <label for="parabrisasDelantero" class="col-xs-6 col-sm-6 col-md-7">Parabrisas delantero</label>
											<input type="checkbox" id="parabrisasDelantero" name="parabrisasDelantero" class="checkboxSwitch" checked/>
									    </div>

								       	<div class="form-group">
									        <label for="parabrisasTrasero" class="col-xs-6 col-sm-6 col-md-7">Parabrisas trasero</label>
											<input type="checkbox" id="parabrisasTrasero" name="parabrisasTrasero" class="checkboxSwitch" checked/>
									    </div>

										<div class="form-group">
											<label for="parabrisasDetalle" class="col-xs-6 col-sm-6 col-md-7">Detalles sobre parabrisas y vidrios:</label>
											<textarea class="form-control" name="parabrisasDetalle" id="parabrisasDetalle" rows="7"></textarea>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group col-xl-12 col-sm-12 col-md-4">
								<div class="panel panel-default">
									<div class="panel-heading">Placas</div>
									<div class="panel-body">

										<div class="form-group">
									        <label for="placaDelantera" class="col-xs-6 col-sm-6 col-md-7">Placa delantera</label>
											<input type="checkbox" id="placaDelantera" name="placaDelantera" class="checkboxSwitch" checked/>
									    </div>

									    <div class="form-group">
									        <label for="placaTrasera" class="col-xs-6 col-sm-6 col-md-7">Placa trasera</label>
											<input type="checkbox" id="placaTrasera" name="placaTrasera" class="checkboxSwitch" checked/>
									    </div>

									</div>
								</div>
							</div>

							<div class="form-group col-xl-12 col-sm-12 col-md-12">
								<div class="panel panel-default">
									<div class="panel-heading">Pintura</div>
									<div class="panel-body">

								       	<div class="form-group col-xs-12 col-sm-3 col-md-3">
									        <label for="puertasDetalle">Pintura de las puertas</label>
											<textarea class="form-control" name="puertasDetalle" id="puertasDetalle" rows="5"></textarea>
									    </div>

									    <div class="form-group col-xs-12 col-sm-3 col-md-3">
									        <label for="cofreDetalle">Pintura del cofre</label>
											<textarea class="form-control" name="cofreDetalle" id="cofreDetalle" rows="5"></textarea>
									    </div>

									    <div class="form-group col-xs-12 col-sm-3 col-md-3">
									        <label for="cajuelaDetalle">Pintura de la cajuela</label>
											<textarea class="form-control" name="cajuelaDetalle" id="cajuelaDetalle" rows="5"></textarea>
									    </div>

									    <div class="form-group col-xs-12 col-sm-3 col-md-3">
									        <label for="techoDetalle">Pintura del techo</label>
											<textarea class="form-control" name="techoDetalle" id="techoDetalle" rows="5"></textarea>
									    </div>


										<div class="form-group">
											<label for="vidriosDetalle">Detalles sobre parabrisas y vidrios:</label>
											<textarea class="form-control" name="vidriosDetalle" id="vidriosDetalle" rows="7"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary pull-right">Aceptar</button>
				</div>
			</div>
		</div>
	</form>
</section>