<section class="container">
	<form role="form" class="form" method="POST" action="index.php?ctrl=vehiculo&accion=modificar&vin={VIN}">
		<a href="index.php?ctrl=vehiculo&accion=listar" class="btn btn-default pull-left">Regresar</a>
		<button type="submit" class="btn btn-default pull-right">Aceptar</button>
		<br/><br/>
		<div class="panel panel-default">
			<div class="panel-heading">Datos del vehículo</div>
			<div class="panel-body">
				<div class="form-group col-sm-6">
					<label for="vin">VIN</label>
					<input type="text" class="form-control" id="vin" name="vin" placeholder="VIN"  maxlength="16" value="{VIN}"/>
				</div>

				<div class="form-group col-sm-6">
					<label for="transmision">Transmisión</label>
					<input type="text" class="form-control" id="transmision" name="transmision" placeholder="Transmisión"  value="{transmision}"/>
				</div>
				<div class="form-group col-sm-6">
					<label for="marca">Marca</label>
					<input type="text" class="form-control" id="marca" name="marca" placeholder="Marca"  value="{marca}"/>
				</div>
				<div class="form-group col-sm-6">
					<label for="modelo">Modelo</label>
					<input type="text" class="form-control" id="modelo" name="modelo" placeholder="Modelo"  value="{modelo}"/>
				</div>

				<div class="form-group col-sm-6">
					<label for="anho">Año del vehículo:</label>
					<input type="number" class="form-control" id="anho" name="anho" placeholder="Año del vehículo" min="0" max="2050" value="{anho}"/>
				</div>

				<div class="form-group col-sm-6">
					<label for="color">Color</label>
					<input type="text" class="form-control" id="color" name="color" placeholder="Color"  value="{Color}"/>
				</div>
				<div class="form-group col-sm-6">
					<label for="cilindraje">Cilindraje</label>
					<input type="text" class="form-control" id="cilindraje" name="cilindraje" placeholder="cilindraje"  value="{cilindraje}"/>
				</div>
				<div class="form-group col-sm-6">
					<label for="numeroPuertas">Número de puertas</label>
					<input type="text" class="form-control" id="numeroPuertas" name="numeroPuertas" placeholder="numeroPuertas"  value="{numeroPuertas}"/>
				</div>

				<div class="form-group col-sm-6">
					<label for="numeroPuertas">Número de puertas</label>
					<input type="text" class="form-control" id="numeroPuertas" name="numeroPuertas" placeholder="numeroPuertas" value="{numeroPuertas}"/>
				</div>
			</div>
		</div>
	</form>
</section>